<h2>User info</h2>

<table>
    <tr>
    <th>
    <%= attachment_image_tag user, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: "60x60" %>
    </th>
    </tr>
    <tr>
    <th>name</th>
    <td><%= user.name %> </td>
    </tr>
    <tr>
    <th>introduction</th>
    <td><%= user.introduction %></td>
    </tr>
    <tr>
    <th>フォローしている</th>
    <th><%= link_to "#{user.followings.count} フォロー", following_user_path(user) %></th>
    </tr>
    <tr>
    <th>フォローされている</th>
    <th><%= link_to "#{user.followers.count} フォロー", followers_user_path(user) %></th>
  </tr>
</table>


<br><br>
<div class="row">
    <%= link_to edit_user_path(current_user), class: "btn btn-default btn-block" do %>
        <span class="glyphicon glyphicon-wrench"></span>
    <% end %>
</div>
